# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site title and description
title:              Brock Library Digital Learning
description:        Brock Library Digital Learning v2
lang:               en

# Site subpath, e.g. /blog
baseurl:            ""

# Permalink URLs structure, for permalink style options see: https://jekyllrb.com/docs/permalinks/
permalink:          "/:title:output_ext"

# Site base hostname & protocol, e.g. http://example.com
url:                "https://teach9372.github.io"

# Site logo # e.g. logo.png, upload logo image file to /uploads/ folder
logo:               

navbar:
    sticky:         true
    search:         true
  
# Default author settings
author:
    name:           Cal Murgu
    title:          Lead Developer  
    avatar:         avatar-tom.png

# Author settings, displayed on post and doc pages if front matter references author name e.g. author: peter
authors:
    john:
      name:         Tim Ribaric
      title:        Librarian   
      avatar:       avatar-john.png
    evan:
      name:         Ian Gordon
      title:        Librarian    
      avatar:       avatar-evan.png
    sara:
      name:         Jennifer Thiessen
      title:        Librarian   
      avatar:       avatar-sara.png
    alex:
      name:         Kym Ash
      title:        Librarian   
      avatar:       avatar-alex.png
    daniel:
      name:         Jessi Robinson
      title:        Librarian      
      avatar:       avatar-daniel.png
    cal:
      name:         Cal Murgu
      title:        Lead Developer     
      avatar:       avatar-cal.png

# pages

# Social icons displayed in footer
social:
    email:          cmurgu@brocku.ca
    website:        https://brocku.ca/library
    facebook:       
    flickr:
    dribbble:
    github:         https://github.com/brocktnl
    googleplus:
    linkedin:
    pinterest:
    twitter:        https://twitter.com/
    youtube:        https://www.youtube.com/@BrockLibrary

# Share button
share:
    post:           true # Display share buttons on a post page
    doc:            true # Display share buttons on a doc page
    twitter:        username # Enable by adding Twitter handle 
    facebook:       true # Enable by setting true (Facebook handle not required)

# Default footer image settings
footer:
    copyright:      Made with ❤️ by the Teaching and Learning Department at the Brock University Library. 

# Disqus comments shortname, requires Disqus account https://disqus.com/
disqus:
    shortname:      # 1234

# Google analytics code, get your code here https://www.google.com/analytics/
google_analytics:

# Number of posts displayed on blog page
paginate:           10

# Blog path
paginate_path:      "/blog/:num/"

# Path to post content assets directory i.e post images, pdfs etc
uploads:            /uploads/

# Build settings
markdown:           kramdown
highlighter:        rouge

gems:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-gist
  - jekyll-avatar
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules

sass:
  style:            compressed

collections:
  docs:
    permalink:      /docs/:path/
    output:         true
  faqs:
    output:         false
  changelogs:
    output:         false

# Defaults
defaults:
  # _posts
  - scope:
      path:         ""
      type:         posts
    values:
      layout:       post
  # _docs
  - scope:
      path:         ""
      type:         docs
    values:
      layout:       doc
