<script
  src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
  crossorigin="anonymous"></script>

<div id="demo-form">
<form class="uk-form-stacked uk-margin-medium-top" method="POST" action="https://formspree.io/f/mknagvjp" accept-charset="UTF-8">

    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-select">{{ site.data.translation[site.lang].contact_status | default: "What's your status?" }}</label>
        <div class="uk-form-controls">
            <select class="uk-select" id="form-stacked-select" name="message">
                <option>Undergraduate</option>
                <option>Graduate</option>
            </select>
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-select">{{ site.data.translation[site.lang].contact_faculty | default: "What faculty are you in?" }}</label>
        <div class="uk-form-controls">
            <select class="uk-select" id="form-stacked-select" name="message">
                <option>Humanities</option>
                <option>Social Science</option>
                <option>Applied Health</option>
                <option>Education</option>
                <option>Business</option>
                <option>Math/Science</option>
            </select>
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">{{ site.data.translation[site.lang].contact_program | default: "What program are you in? (Program code is fine!)" }}</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="text" placeholder="LABR" name="message">
        </div>
    </div>
    <div class="uk-margin" style="display: none;">
        <label class="uk-form-label" for="form-stacked-text">{{ site.data.translation[site.lang].contact_page | default: "Page" }}</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="text" name="message" placeholder="LABR" value="{{ page.url }}">
        </div>
    </div>
    <div>
        <input class="uk-button uk-button-primary uk-button-large" type="submit" value="{{ site.data.translation[site.lang].contact_send | default: 'Send' }}" onclick="alert('Form submitted. Thanks!')">
    </div>
</form>

<script>
    $(function() {
        function sendData($form) {
            let dataString = $form.serialize();

            return $.ajax({
                type: $form.attr('method'),
                url: $form.attr('action'),
                data: dataString
            });
        }

    $('form').on('submit', function(e) {
        e.preventDefault(); // preventing the browser refresh

        sendData($(this)).done(function() {
            $("#demo-form").html('<div id="message"></div>');

             $('#message')
                .html('<h2>Form submitted! Thanks.</h2>');
            });
        });
    });
   // })

</script>