---
layout: default
---

<style>

.next-page,
.previous-page {
  display: inline-block;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.next-page:hover,
.previous-page:hover {
  color: #fff;
  background-color: #CC0000;
  border-color: #CC0000;
  text-decoration: none;
}


</style>
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid-large" data-uk-grid>
            <div class="sidebar-fixed-width uk-visible@m">
                <div class="sidebar-docs uk-position-fixed uk-margin-top">
                    {% for section in site.data.navigation_docs %}
                    <h5>{{ section.title }}</h5>
                    <ul class="uk-nav uk-nav-default doc-nav">
                    {% for doc in section.docs %}
                      {% assign doc_url = doc |  prepend: page.lesson | prepend:"/docs/" | append:"/" %}
                      <li class="{% if doc_url == page.url %}uk-active{% endif %}"><a href="{{ doc_url }}">{{ section.subtitle }}</a></li>
                    {% endfor %}
                    </ul>
                    {% endfor %}
                </div>
            </div>

            <div class="uk-width-1-1 uk-width-expand@m">

                <article class="uk-article">

                    <h1 class="uk-article-title">{{ page.title | escape }}</h1>

                    {% if page.subtitle %}<p class="uk-text-lead uk-text-muted">{{ page.subtitle }}</p>{% endif %}

                    <div class="uk-article-meta uk-margin-top uk-margin-medium-bottom uk-flex uk-flex-middle">
                        {% include post-meta.html %}
                    </div>
                    <hr>
                    <div class="article-content link-primary">
                        {{ content }}
                    </div>
                    {% assign pages_list = site.pages | where: 'dir', page.dir %}

{% assign custom_order = {
  'index.md': 1,
  'video.md': 2,
  'check.md': 3,
  'support.md': 4
} %}

{% assign pages_list = pages_list | sort: 'custom_order' | map: 'title' %}

{% assign current_page = page %}
{% assign current_dir = page.dir %}
{% assign next_page = current_page.next %}
{% assign previous_page = current_page.previous %}

{% if next_page %}
  {% assign next_page_index = pages_list | index: next_page.title %}
  {% if next_page_index != nil %}
    <a class="next-page" href="{{ next_page.url }}">Next: {{ next_page.title }}</a>
  {% endif %}
{% endif %}

{% if previous_page %}
  {% assign previous_page_index = pages_list
 | index: previous_page.title %}
                      {% if previous_page_index != nil %}
                        <a class="previous-page" href="{{ previous_page.url }}">Previous: {{ previous_page.title }}</a>
                      {% endif %}
                    {% endif %}



                    {% include hook-post-content-doc.html %}

                    <hr class="uk-margin-medium">

                    {% include paginate-doc.html %}

                    {% include related-docs.html %}

                    {% if site.disqus.shortname %}
                        {% include disqus_comments.html %}
                    {% endif %}
                </article>

                <script>
                    // Table of contents scroll to
                    UIkit.scroll('#markdown-toc a', {
                        duration: 400,
                        offset: 120
                    });
                </script>

            </div>

    </div>
</div>
